[sshd]
enabled = true
port = {{ hardening_ssh_port }}
filter = sshd
logpath = {{ hardening_fail2ban_log_path_map.get(ansible_distribution, hardening_fail2ban_log_path_map.get(ansible_os_family, '/var/log/auth.log')) }}
backend = {{ 'systemd' if ansible_os_family == 'RedHat' else 'auto' }}
maxretry = {{ hardening_fail2ban_maxretry }}
bantime = {{ hardening_fail2ban_bantime }}
findtime = {{ hardening_fail2ban_findtime }}
