{#
  Helper macro to provide shared runtime defaults.
#}

{% macro service_context(service_security=None, secrets=None, mounts=None) -%}
  {% set security_defaults = service_security | default({}) | normalize_security %}
  {% set secret_context = secrets | default({}) | normalize_secrets %}
  {% set mount_context = mounts | default({}) | normalize_mounts %}
  {{ caller(security_defaults, secret_context, mount_context) }}
{%- endmacro %}

{% macro health_defaults(health) -%}
  {{ return(health | health_spec) }}
{%- endmacro %}
