{% set unit = service_unit | default({}) %}
{% set description = unit.description | default('Managed service for ' ~ (service_name | default(service_id))) %}
{% set after = unit.after | default(['network.target']) %}
{% set service_section = unit.service | default({'Type': 'simple', 'ExecStart': '/usr/bin/true'}) %}
{% set install_targets = unit.install_wanted_by | default(['multi-user.target']) %}
[Unit]
Description={{ description }}
{% for dependency in after %}
After={{ dependency }}
{% endfor %}

[Service]
{% for key, value in service_section.items() %}
{{ key }}={{ value }}
{% endfor %}

[Install]
{% for target in install_targets %}
WantedBy={{ target }}
{% endfor %}
